<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ConnectionString" value="Data Source=ServiceName;Initial Catalog=DatabaseName; 
			 Integrated security=True"/>
		<add key ="Loglevel" value="Debug"/>
		<add key ="koko" value="koko value"/>
	</appSettings>

	<connectionStrings>
		<add name="MyDbconnection" connectionString="Data Source=ServiceName;Initial Catalog=DatabaseName; Integrated security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>